@media (max-width: 1200px) {
  .food>img {
    width: 100%;
  }

  .food {
    width: 24%;
  }

  .food3text>a,
  .food5text>a {
    width: 54%;
  }

  .stat {
    width: 18%;
    padding: 5.4%;
  }

  .fratext>img {
    width: 29%;
  }
}



@media (max-width: 992px) {

  .headcontent {
    width: 75%;
  }

  #navlinks {
    width: 69%;
  }

  #search {
    width: 3.6%;
  }

  #logo {
    width: 15%;
  }

  .menutext,
  .stattext {
    width: 69%;
  }

  .fooditem {
    width: 81%;
    margin-inline: auto;
    row-gap: 5.0625rem;
    column-gap: 15%;
    flex-wrap: wrap;
  }

  .food {
    width: 39%;
  }

  .food3text>h3,
  .food5text>h3 {
    font-size: 2.4375rem;
  }

  .food3text>p,
  .food5text>p {
    font-size: 1.5rem;
  }

  .fratext {
    width: 75%;
  }

  .emailcontent * {
    margin-top: 6.3%;
  }

  footer {
    flex-direction: column;
  }

  .foot1 {
    width: 100%;
    align-items: center;
  }

  .foot1 * {
    margin-top: 3%;
  }

  .socialmedia {
    width: 39%;
    text-align: center;
  }

  .foot2 {
    margin-top: 12.9%;
    width: 100%;
  }


}



@media (max-width: 768px) {
  header {
    
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav{
    position: relative;
  }

  #navlinks {
    display: none;
  }
  
  #navlinks2 summary{
      display: block;
      position: absolute;
      right: 9%;
      top: 6%;
  }

  #navmenu{
    width: 81%;
    position: absolute;
    right: 9%;
    top: 100%;
    text-align: center;
   background-image: linear-gradient(to bottom right, hotpink, green);  
    border-radius: 2.25rem 0rem 2.25rem 2.25rem;
  }


  #navmenu li a{
    display: inline-block;
    color: white;
    padding-top: 2.7%;
    font-size: 1.3125rem;
    font-weight: 720;
  }

  
  #navmenu li a:hover{
    color: orange;
    border-bottom: 2px solid orange;
    padding-bottom: 0.6%;
  }


  #logo {
    width: 21%;
  }

  #search {
    width: 4.5%;
  }

  .headcontent {
    width: 94.6%;
    text-align: center;
  }

  .headcontent a {
    display: inline-block;
    width: 33%;
  }

  .fooditem {
    width: 99%;
  }

  .food>img {
    width: 69%;
  }

  .food3>img,
  .food5>img {
    width: 33%;
    height: 270px;
  }

  .fratext {
    width: 90%;
  }

  .fratext>img {
    width: 21%;
  }

  .fratext>h4 {
    font-size: 1.6875rem;
  }

  .fratext>p {
    font-size: 1.3125rem;
  }

  .emailcontent {
    width: 81%;
  }

  .emailcontent>h5 {
    font-size: 2.4375rem;
  }

  .emailcontent>p {
    font-size: 1.3125rem;
  }

  #email {
    padding: 1% 2.1%;
    font-size: 1.125rem;
  }

  .emadd>button {
    font-size: 1rem;
  }

  .food3text>h3,
  .food5text>h3 {
    font-size: 1.8125rem;
  }

  .food3text>p,
  .food5text>p {
    font-size: 1.1875rem;
  }

  .food3text>a,
  .food5text>a {
    width: 50%;
    font-size: 1rem;

  }
}




@media (max-width: 576px) {

  #logo {
    width: 29%;
  }

  #search {
    width: 6%;
  }

  .headcontent h1 {
    font-size: 3.9375rem;
  }

  .headcontent p {
    font-size: 1.1875rem;
  }

  .menutext,
  .stattext {
    width: 90%;
  }

  .food>img {
    width: 81%;
  }

  .food3>img,
  .food5>img {
    width: 39%;
    height: 225px;
  }

  .stat {
    width: 24%;
  }

  .stat>h3 {
    font-size: 2.8125rem;
  }

  .stat>p {
    font-size: 1.5rem;
  }

  .fratext>img {
    width: 39%;
  }

  .fratext>h4 {
    font-size: 1.3125rem;
  }

  .fratext>p {
    font-size: 1.125rem;
  }

  .fratext * {
    margin-top: 6.9%;
  }

  .emadd {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #email {
    width: 90%;
  }

  .foot1 * {
    margin-top: 6.9%;
  }

  .foot2 {
    justify-content: space-between;
  }

}


@media (max-width: 480px) {

  .fooditem,
  .statitem {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 15%;
  }

  .food {
    width: 63%;
  }

  .food3 {
    flex-direction: column;
    align-items: center;
  }
  .food5{
    flex-direction: column-reverse;
  }




  .food3text,
  .food5text {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .food3>img,
  .food5>img {
    width: 63%;
  }

  .stat{
    width: 45%;
    margin-bottom: 8.1% ;

  }

  .socialmedia{
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  

  .foot2{
    flex-direction: column;
    gap: 1.3125rem;
    align-items: center;
    justify-content: baseline;
    
  }

  .foot2 ul{
      width: 36.9%;
  }

  #navlinks2 summary{
    top: -9%;
}

  
}