* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #ebe3cd;
    /* overflow-x: hidden; */
}

.flex {
    display: flex;
    align-items: center;
}

.position {
    position: absolute;
}

ul li {
    list-style: none;
}

ul {
    gap: 80px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Montserrat";
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #df581e;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
button:hover{
    transform: scale(1.05);
}
input {
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 20px;
}

h2 {
    font-family: "Montserrat";
    color: #df581e;
}

.heading {
    font-size: 50px;
    color: #12202f;
    margin: 15px 0;
}

.round {
    border-radius: 30px;
    background-color: #faf8ef;
    box-shadow: 0 0 10px gray;
}

p {
    color: #12202f;
    font-size: 15px;
    margin: 20px 0;
    font-weight: bold;
    line-height: 25px;
    font-family: "Montserrat";
}

.colour-btn {
    background-color: #6bb99c;
}

.color-text {
    color: #6bb99c;
}

/* header-section stated here  */
#header-section {
    height: 100vh;
    padding: 0 50px;
}

nav ul li a:hover {
    color: #6bb99c;
    transition: 0.3s;
}

nav {
    width: 90%;
    padding: 15px 25px;
    font-family: "Montserrat";
    position: fixed;
    top: 7%;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-between;
    border-radius: 33px;
    background-color: #12202f;
}

.sing-up {
    font-size: 17px;
    color: #6bb99c;
    font-weight: 400;
}

.header-left {
    top: 20%;
    width: 650px;
    color: #12202f;
}

.header-big-img {
    right: 0;
    bottom: 30px;
}

.header-left h1 {
    font-size: 72px;
}

.header-big-img {
    width: 65%;
}

.plant-img {
    bottom: 5%;
    right: 50%;
    width: 10%;
}

.header-left p:nth-child(2) {
    color: #6bb99c;
    font-size: 20px;
}

.header-left p {
    margin: 20px 0;
    font-size: 20px;
}

.button-ex {
    margin: 40px 0;
    gap: 20px;
}

.button-ex .unactive-btn {
    background: transparent;
    color: #12202f;
    transition: 0.9s;
}

.button-ex .unactive-btn:hover {
    color: white;
    background-color: #df581e;
}

.book {
    bottom: 0;
    font-size: 20px;
    color: #12202f;
    font-weight: bold;
    font-family: "Montserrat";
}

.book i {
    margin-left: 15px;
}

/* date section started here  */
#date-section {
    padding: 50px;
}

.date-input label {
    display: block;
}

form {
    margin: 0px auto;
    padding: 40px 30px;
    justify-content: center;
    gap: 50px;
}

.date-wrapper form input {
    text-align: center;
    padding: 15px 0;
    background-color: #ebe3cd;
    border-radius: 50px;
    border: 2px solid #12202f;
}

.date-wrapper form input[type="submit"] {
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #6bb99c;
    margin-left: 80px;
}

/* three-section card started here  */
#three-section-card {
    padding: 60px;
    text-align: center;
}

.three-card-wrapper {
    justify-content: space-between;
    margin: 50px 0;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: 28%;
    padding: 50px 30px;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.card-item:hover,.card-1:hover{
    transform: scale(1.05);
}
.card-item h1 {
    font-size: 27px;
    margin-top: 20px;
}

.dish-img {
    width: 189px;
    height: 189px;
}

/* about-secction stared here  */
#about-section {
    overflow: hidden;
}

.about-wrapper {
    height: 290px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.table-img,
.table-img-2 {
    width: 20%;
    right: -5%;
}

.table-img-2 {
    left: -5%;
}

.table-img-3,
.table-img-4 {
    width: 30%;
}

.table-img-3 {
    top: 10%;
    right: 4%;
}

.table-img-4 {
    top: 80px;
    left: 4%;
}

.covid-people {
    position: relative;
    margin: 80px 0;
    height: 70vh;
}

.people-img {
    left: 50%;
    width: 40%;
    transform: translate(-50%);
    z-index: 10;
}

/* story-section started here */
#story-section {
    border: 2px solid black;
    height: 100vh;
    position: relative;
}
.restaurant-text {
    left: 3%;
    top: 30%;
    width: 30%;
}

.bottle-img {
    right: 40%;
    width: 15%;
    top: 10%;
    /* bottom: 0; */
}

.table-men-img {
    width: 40%;
    right: 5%;
    top: 25%;
}

.mini-plant-img {
    width: 10%;
    right: 5%;
    top: 1%;
}

/*fresh-healthy section started here  */
.fish-wrapper {
    margin: 80px 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fresh-text {
    flex-basis: 40%;
}
/* the chef section started here  */
.chef-img {
    width: 50%;
}

.chif-wrapper {
    padding: 50px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
}

.chef-text {
    flex-basis: 30%;
}

.chammach-img {
    top: 10%;
    left: 50%;
    width: 20%;
    transform: translate(-50%);
}

/*coustomers section started here  */
#coustomers-section {
    padding: 80px 0;
}

.coustomers-wrapper h2,
.ch {
    text-align: center;
}

.card-img {
    width: 174px;
}

.card-text h3 {
    font-size: 30px;
    color: #12202f;
}

.card-text {
    position: relative;
}

.card-text i {
    color: #eaa73b;
}

.card-text i:last-child {
    color: gray;
}

.card-text h3 span {
    font-size: 18px;
    position: absolute;
    right: 0;
    color: #6bb99c;
    top: 13px;
}

.card-text p {
    margin: 6px;
    font-size: 15px;
}

.card-1 {
    padding: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    gap: 50px;
    flex-basis: 40%;
}

.coustomers-card {
    justify-content: center;
    margin: 50px 0;
    gap: 50px;
    flex-wrap: wrap;
}

/* contect-us section started here  */
#contact-us {
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.form-wrapper {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-wrapper input,
textarea {
    width: 50%;
    height: 50px;
    background-color: #ccc1a3;
    border: 2px solid #faf8ef;
}

textarea {
    border-radius: 30px;
    padding: 20px;
    height: 150px;
    outline: none;
}

.lemon {
    right: 30px;
    top: 0;
}

.leaf1 {
    bottom: 0;
    right: 30px;
}

.leaf2 {
    top: 0;
    left: 30px;
}

.Avocado {
    bottom: 0;
    left: 30px;
}

/* footer-section started here  */
#footer-section {
    background-color: #df581e;
    padding: 80px 50px;
}

.footer-wrapper,
.footer-left {
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    flex-basis: 40%;
}

#footer-section ul li a {
    color: #12202f;
    font-size: 16px;
}

#footer-section ul li {
    margin: 15px 0;
}

#footer-section h1 {
    color: white;
    margin-bottom: 20px;
}

.icon {
    gap: 20px;
}

.icon span {
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 50%;
}

.footer-right input {
    width: 100%;
    height: 50px;
    margin: 10px;
    background: transparent;
    color: white;
    border: 2px solid #12202f;
}