@media (max-width: 1200px) {
  #navtop>div {
    width: 69%;
  }
  #navtop>:nth-child(1){
    width: 12.9%;
  }
  nav {
    padding-top: 1.8%;
    padding-inline: 4.5%;
  }
  #navbottom {
    padding-block: 2.4%;
  }
  .dropdown {
    top: 21%;
  }
  .coretext>:nth-child(1){
    height: 290px;
  }
  .newstext p{
    font-size: 1rem;
  }
  #foottop{
    flex-wrap: wrap;
    gap: 1.1875rem;
  }
  .foobot>:nth-child(1){
      flex-wrap: wrap;
      gap: 0.9375rem;
  }
  #footbottom>:nth-child(2){
   flex-wrap: wrap;
   gap: 0.9375rem;
  }
  #footbottom img{
    display: none;
  }
  .news>:nth-child(2){
    padding-right: 4.5%;
  }
}




@media (max-width: 992px){
    #navtop{
      position: relative;
    }
    
    #navtop details{
      display: block;
      position: absolute;
      right: 10.9%;
      font-size: 1.3125rem;
    }
    #menu{
      position: absolute;
      top: 150%;
      /* outline: 3px solid red; */
      backdrop-filter: blur(9px);
      font-size: 1rem;
      padding: 54%;
    }
    #menu li{
      margin-top: 19%;
    }
    #navtop>div{
      display: none;
    }
    #navtop>:nth-child(4){
      margin-left: auto;
    }
    #navtop>:nth-child(1){
      width: 18%;
    }
    .dropdownworld{
      top: 102%;
      width: 100vw;
      left: -5%;

    }
    #goodhealth,#goodhealthlooklike{
      padding: 5.4%;
    }
    .coretext{
      flex-direction: row;
      gap: 21px;
    }
    .corecontent{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 21px;
    }
    .coretext>:nth-child(1){
      height: 270px;
    }
    .coretext>:last-child{
      width: 100%;
    }
    .coretext h3{
      margin-block: 0%;
      margin-bottom: 3%;
    }
    
    .news{
      display: flex;
      flex-direction: column;
    }
    .news img{
      width: 100%;
      }
    
      .news>:nth-child(2){
        top: 24%;
        height: 18%; 
      }
      .newstext p{
        margin: 0;
      }
      .gohelcontent img{
        height: 360px;
      }

      #foottop h6{
        font-size: 0.875rem;
      }
      
      #foottop p{
        font-size: 0.75rem;
      }
      #footbottom{
        font-size: 0.75rem;
      }
      #footbottom i{
        font-size: 1.1875rem;
      }
      #footbottom+p{
        font-size: 0.75rem;
      }
    

  }





  @media (max-width: 768px){

    #navbottom {
      display: none;
    }

    #navtop>:nth-child(4),#navtop>:nth-child(5){
      display: none;
    }
    #navtop details{
      right: 3%;
    }
    #menu{
      right: 9%;
    }
    
    
    .gohelcontent h2 {
      font-size: 1.6875rem;
     
    }
    .gohelcontent h1{
      font-size: 0.9375rem;
    }
    
    .gohelcontent p {
      font-size: 0.9375rem;
    }
    
    

  }








  @media (max-width: 576px){

    .gohelcontent {
      display: flex;
      flex-direction: column;      
    }
    .coretext{
      flex-direction: column;
      gap: 21px;
    }
    .gohelcontent img{
      height: 270px;
      width: 72%;
      margin-bottom: 3%;
    }

    .news>:nth-child(2){
      display: none;
    }

    
  }